{% extends 'base.html.twig' %}
{% block body %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{{form_start(flu)}}
<table class = "table table-hover" border="0" >
<tr>  <td colspan="2" > <p align="center"> <font size="8px"> <b> Entrer vos informations </b></font> <p>&nbsp;</p> </td>  </tr>
<tr>
<td width="45%"> <p align="right"> Nom d'utilisateur</p></td> <td> <p align="left">  {{form_widget(flu.name)}}</td> <td> {{form_errors(flu.name)}} </td>
</tr>
<tr>
<td> <p align="right">   Mot de passe d'utilisateur </td> <td>  <p align="left">  {{form_widget(flu.password)}} </td> <td> {{form_errors(flu.password)}} </td>
</tr>
    
<tr>  <td ></td> <td >  <p align="left">  <button type="submit" class="btn btn-secondary">SE CONNECTER</button> </td >  </tr> 
{{form_end(flu)}} 

{% for er in app.flashes('er') %}
    <div>
        <h1 align="center" > {{er}}  </h1>
    </div>
{% endfor %}
</body>
{% endblock %}