{% extends 'base.html.twig' %}
{% block body %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
       <li class="nav-item">
          <a class="nav-link" href="{{path('users',{'s':s,'idc':idc})}}">Voir tous les utilisateurs</a>
        </li>
		 <li class="nav-item">
          <a class="nav-link" href="{{path('admins',{'s':s,'idc':idc})}}">Voir tous les Administrateurs</a>
        </li>
		 <li class="nav-item">
          <a class="nav-link" href="{{path('searchp',{'s':s,'idc':idc})}}">Chercher une piece</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="{{path('choixch',{'s':s,'idc':idc})}}">Chercher un utilisateur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('inter',{'s':s,'idc':idc})}}">Retour a la page principale
          </a>
		</li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('logoutu')}}">Quitter</a>
        </li>
      </ul>
  </div>
</nav>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<center>

<b>  Bienvenue Mr(s)  <u>{{infos.name}} </u> </b>
<p>&nbsp;</p>
<table  class = "table table-hover" >

<tr>
<td> <p align="center"> Identifiant du compte :</td> <td> {{infos.id}}</td>
</tr>
<td><p align="center">Nom Utilisateur :</td> <td>{{infos.name}}</td>
</tr>

<tr>
<td><p align="center">Mot de passe :</td> <td>{{infos.password}}</td>
</tr>
</table>
<center>
{% endblock %}